<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1762835d-0458-4cd9-8bd3-dd22682ddb4d/resourceGroups/fusion-rg/providers/Microsoft.Web/sites/WebAPIDemo20230211230418</ResourceId>
    <ResourceGroup>fusion-rg</ResourceGroup>
    <ApiResourceId>/subscriptions/1762835d-0458-4cd9-8bd3-dd22682ddb4d/resourceGroups/fusion-rg/providers/Microsoft.ApiManagement/service/WebAPIDemoapiFusion/apis/WebAPIDemo</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapidemo20230211230418.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>27a12b3a-5292-4161-b794-3bac096d367b</ProjectGuid>
    <MSDeployServiceURL>webapidemo20230211230418.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAPIDemo20230211230418</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$WebAPIDemo20230211230418</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>